@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500;600&Roboto+Slab:wght@300;400;&display=swap');

html, body {
  font-family: 'Roboto', sans-serif; //
  height: 100%;
  background: #ffffff;
  color: #280e3e;
  font-size: 16px;
}